<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Vue</title>
</head>
<body> 
    <div id="app">
        <template>
            <p v-for="item in array">{{item}}</p>
        </template>
        <button @click="array.push('newItem')">Add a new item</button>
        <input type="text" @input="changeInput">
        <h1>The product is {{ product }}</h1>
        <p>{{ description }}</p>
        <p v-model="array">{{array}}</p>
        <button 
            @mouseenter="makeRed"
            @mouseleave="makeNormal"
        >Button</button>
        <a :href="link">Ze roogle</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='main.js'></script>
</body>
</html>